html {
  font-family: 'Microsoft Yahei','Ubuntu Mono',sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

@font-face {
  font-family: 'Microsoft Yahei','Ubuntu Mono',sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: white; }

input {
  font-family: 'Microsoft Yahei';
  font-size: inherit;
  line-height: inherit; }

a {
  color: #1abc9c;
  text-decoration: none; }

a:hover, a:focus {
  color: #117964;
  text-decoration: underline; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

h1, .h1 {
  font-family: 'Microsoft Yahei';
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1, .h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #999999; }

.form-control::-webkit-input-placeholder {
  color: #999999; }

.form-group {
  margin-bottom: 15px; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover, .btn:focus {
  color: #333333;
  text-decoration: none; }

.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-default {
  color: #333333;
  background-color: white;
  border-color: #cccccc; }

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-image: none; }

.btn-default .badge {
  color: white;
  background-color: #333333; }

body {
  font-family: 'Microsoft Yahei',"Ubuntu Mono", sans-serif; }

body.login {
  color: #2c3e50;
  background-color: #bdc3c7; }

body.login .wrapper {
  padding: 20px;
  background-color: #ecf0f1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10% auto;
  width: 300px; }

body.login .wrapper .brand {
  margin-top: -15px; }

body.login .wrapper .brand h1 {
  display: block;
  margin-bottom: 20px; }

body.login .wrapper .brand h1 .logo-icon {
  width: 75px;
  height: 75px;
  margin: auto;
  padding: 15px;
  border-radius: 40px;
  background: #2c3e50; }

body.login .wrapper .brand h1 .logo-icon i[class*='icon-'] {
  margin-left: -5px;
  color: #1abc9c;
  font-size: 140%; }

body.login .wrapper .text-center .checkbox {
  text-align: center; }

body.login .wrapper .text-center legend {
  text-align: center; }

body.login .wrapper .text-center legend input {
  float: none; }

body.main {
  padding: 10px 20px 0px 20px;
  background-color: #bdc3c7; }

form .form-actions {
  background-color: #f5f7f7;
  margin: 15px -15px -15px;
  padding: 15px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

form .form-actions a.btn:hover {
  color: #28e1bd; }

.text-center {
  text-align: center; }
